@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800&display=swap');
/* common class  */
body, h1, h2, h3, h4, h5, h6, p, ul{
	margin: 0px;
	padding: 0px;
}
a{
    text-decoration: none;
    display: inline-block;
}
.d-flex{
    display: flex;
}
.container{
    width: 90%;
    margin: 0px auto;
}
.play-font{
    font-family: "Playfair Display", "Segoe UI", "Helvetica Neue", Arial;
    font-weight: 700;
}
.source-font{
    font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", Arial;;
}
/* nav code start */

.nav-brand{
    flex-basis: 100%;
    padding: 8px 0px;
}
.nav-brand h1{
    font-size: 20px;
    line-height: 2;
    color: rgba(0, 0, 0, 0.9);
}
.navbar-nav{
    padding: 10px;
    flex-basis: 600%;
}
.navbar-nav a{
    margin: 0px 10px ;
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.7);
}
.navbar-nav a span{
    border-radius: 8px;
    padding: 3px 10px;
    color: aliceblue;
    background-color: #7832E2;
}
.nav-button{
    padding: 8px 0px;
    flex-basis: 100%;
    justify-content: flex-end;
}
.nav-button a{
    border: 1px solid green;
    padding: 8px 10px;
    color: green;
}
/* nav code end */
/* banner part start  */
.banner-content{
    margin-top: 20px;
}
.banner-article{
    background-color: #E8F3EC;
    padding: 50px 70px;
    flex-basis: 100%;
}
.banner-article h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #212529;
}
.banner-article p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #212529;
}
.banner-article a{
    padding: 10px 15px;
    background-color: #101214;
    color: white;
    border-radius: 5px;
}
.banner-image{
    border: 1px solid green;
    flex-basis: 100%;
}
/* banner part end  */
/* stimulation-section start  */
.stimulation-section{
    margin-top: 20px;
}
.stimulation-relative{
    padding-right: 20px;
    flex-basis: 100%;
}
.stimulation-relative-article a{
    margin-top: 20px;
    color: #212529;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.stimulation-relative-article p{
    margin-top: 10px;
    color: #212529;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.stimulation-relative-article span{
    color: #6c757d;
    line-height: 22px;
    font-size: 14px;
}
.stimulation-item{
    flex-basis: 100%;
}
.stimulation-card{
    margin-bottom: 20px;
}
.stimulation-banner{
    flex-basis: 100%;
}
.stimulation-article{
    padding: 8px 10px;
    flex-basis: 400%;
}
.stimulation-article a{
    font-weight: 700;
    color: #212529;
    font-size: 16px;
    line-height: 19px;
}
.stimulation-article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6c757d;
}
.stimulation-article span{
    color: #6c757d;
    line-height: 22px;
    font-size: 14px;
}
/* stimulation-section end  */
/* all stories & popular section start  */
.stories-popular-section{
    margin-top: 20px;
}
.all-stories-content{
    flex-basis: 250%;
}
.header-stories{
    color: #212529;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.all-stories-card{
    margin-top: 20px;
}
.all-stories-card-article{
    flex-basis: 300%;
}
.all-stories-card-article a{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #212529;
}
.all-stories-card-article p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #212529;
}
.all-stories-card-article span{
    color: #6c757d;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.all-stories-card-banner{
    flex-basis: 100%;
}
.all-stories-card-banner img{
    width: 100%;
    height: 100px;
}
.popular-content{
    margin-left: 20px;
    flex-basis: 150%;
}
/* popular start  */
.poular-card{
    height: 70px;
    margin-bottom: 10px;
    width: 80%;
}
.card-number{
    height: 100px;
    flex-basis: 100%;
}
.card-number h1{
    font-size: 50px;
}
.card-number-article{
    flex-basis: 400%;
}
.card-number-article a{
    color: #212529;
    line-height: 19px;
    font-weight: 700;
    font-size: 16px;
}
.card-number-article span{
    color: #6c757d;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
/* all stories & popular section end  */
/* footer start  */
.footer-content{
    height: 300px;
    margin-top: 20px;
}
.footer-brand{
    flex-basis: 70%;
}
.footer-brand h1{
    font-size: 20px;
    font-weight: 700;
    color: #6c757d;
}
.main-footer{
    flex-basis: 530%;
}
.main-footer p{
    font-size: 14px;
    line-height: 2.1;
    color: #6c757d;
    font-weight: 400;
}
.footer-artical{
    flex-basis: 100%;
    justify-content: flex-end;
}
.footer-artical p{
    font-size: 14px;
    line-height: 2.1;
    color: #6c757d;
    font-weight: 400;
}
.footer-artical p a{
    color: blue;
}
/* footer end  */